<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">


            </div>
        </div>
    </div>
</header>

<div class="container">

<hr>

    <div class="row">
        <div class="col-sm-8">
            <div class="user-preferences">
                <h2>User Preferences</h2>


            <% @user_prefs = UserPreference.all.where(user_id: session[:user_id]) %>
                            <p> <% @user_prefs.sort_by do |u| %>

            <p> <%= u.criterium.description %>| <%= u.search %> | <%= u.score %>

                <% end %>


              </div>
            </div>
            <div class="col-sm-4">
                 <p>
                    <a class="btn btn-primary btn-lg" href="/user_preferences" role="button">Edit Preferences</a>
                 </p>
                 <p>
                    <a class="btn btn-primary btn-lg" href="/properties" role="button">Search Properties</a>
                 </p>

            </div>
        </div>
        <div class="col-sm-4">
            <p>
                <a class="btn btn-primary btn-lg" href="/user_preferences" role="button">Edit Preferences</a>
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="/properties" role="button">Search Properties</a>
            </p>
        </div>
    </div>

<hr>

    <h2>Saved Favorites</h2>
        <div class="row">
            <% @properties.each do |property| %>
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <%= image_tag(property.picture) %>
                <h3><%= property.title %></h3>
                    <p><%= property.address %></p>
                    <p><a class="btn btn-primary" href="/properties/<%=property.z_id%>" role="button">View details &raquo;</a></p>
            </div>
            <% end %>
        </div>

<hr>

<!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Hoadini 2015</p>
            </div>
        </div>
    </footer>

</div>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

