<!-- <header class="business-header">
  <div class="container">
  </div>
</header> -->
<div class="photo-carousel">
  <nobr>
  <% @property_hash["result"]["photos"].each do |photo| %>
    <%= image_tag photo["medium"] %>
  <% end %>
  </nobr>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div class="user-preferences">
        <h2><%= @property_hash["result"]["location"]["all"] %></h2>
      </div>
    </div>
    <div class="row">
         <p>
          <a class="btn btn-primary btn-lg" href="/properties" role="button">Back to Properties</a>
        <%if current_user %>
        <% if !current_user.favorite_properties.exists?(z_id: params[:id]) %>
          <%= link_to 'Add to Favorites', favorite_properties_path(:favorite_properties => {:z_id => @property_hash["result"]["id"], :address => @property_hash["result"]["location"]["all"], :address => @property_hash["result"]["location"]["all"], :rating => 0, :price =>@property_hash["result"]["price"]["monthly"], :picture => @property_hash["result"]["photos"][0]["medium"], :title => @property_hash["result"]["attr"]["propType"]["text"]}), {:method=>:post, class: "btn btn-primary btn-lg", role: "button"} %>
           <%end%>
          <%end%>
         </p>
      </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="description">
        <h3>Description</h3>
          <div>
            <p><%= @property_hash["result"]["attr"]["description"] %><p>
          </div>
        </div>
      </div>
    </div>

      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="pricing-info">
        <h3> Pricing </h3>
          <div>
            <li>Monthly: <%= @property_hash["result"]["price"]["monthly"] %></li>
            <li>Nightly: <%= @property_hash["result"]["price"]["nightly"] %> </li>
            <li>Weekend: <%= @property_hash["result"]["price"]["weekend"] %> </li>
            <li>Weekly: <%= @property_hash["result"]["price"]["weekly"] %> </li>
          </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="renting-info">
        <h3>Renter Information</h3>
          <div>
            <li>Room Type: <%= @property_hash["result"]["attr"]["roomType"]["text"] %></li>
            <li>Property Type: <%= @property_hash["result"]["attr"]["propType"]["text"] %></li>
            <li>Minimum Nights: <%= @property_hash["result"]["price"]["minNight"] %></li>
            <li>Maximum Nights: <%= @property_hash["result"]["price"]["maxNight"] %></li>
            <li>Number of Bathrooms: <%= @property_hash["result"]["attr"]["bathrooms"] %></li>
            <li>Number of Bedrooms: <%= @property_hash["result"]["attr"]["bedrooms"] %></li>
            <li>Total Occupancy: <%= @property_hash["result"]["attr"]["occupancy"] %></li>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- RATINGS -->
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="user-criteria-info">
          <h3>Criteria Ratings</h4>

          <% if @property_hash['museums'] %>
          <h4>Nearby Museums</h3>
            <% @property_hash['museums'].each do |m| %>
              <li><%= "#{m.name}: #{m.distance} meters away" %></li>
            <%end%>
          <%end%>

          <% if @property_hash['parks'] %>
          <h4>Nearby Parks</h4>
            <% @property_hash['parks'].each do |p| %>
              <li><%= "#{p.name}: #{p.distance} meters away" %></li>
            <%end%>
          <%end%>

          <% if @property_hash['food'] %>
          <h4>Nearby Food</h4>
            <% @property_hash['food'].each do |f| %>
              <li><%= "#{f.name}: #{f.distance} meters away" %></li>
           <%end%>
          <%end%>

          <% if @property_hash['subway station'] %>
          <h4>Nearby Subways</h4>
            # <% @property_hash['subway station'].each do |ss| %>
              <li><%= "#{ss.name}: #{ss.distance} meters away" %></li>
            <%end%>
          <%end%>

          <% if @property_hash['landmarks'] %>
          <h4>Nearby Landmarks</h4>
            <% @property_hash['landmarks'].each do |l| %>
              <li><%= "#{l.name}: #{l.distance} meters away" %></li>
            <%end%>
          <%end%>

          <% if @property_hash['shops'] %>
          <h4>Nearby Shops</h4>
            <% @property_hash['shops'].each do |s| %>
              <li><%= "#{s.name}: #{s.distance} meters away" %></li>
            <%end%>
          <%end%>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <div class="row">
    <div class="col-lg-12">
      <p>Copyright &copy; Hoadini 2015</p>
    </div>
  </div>
</footer>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
