<%= form_for @new_user_pref do |f| %>

  <fieldset>
    <legend> Modify your feature preference. </legend>
    <div align="center"><br>
      <%= form_for @ do |f| %>
      <%= f.label :%>
      <%= f.text_area
      <% end %>
      <%= f.submit value="Modify" %>
    </div>
  </fieldset>

<% end %>