My preferences:

<% @user_prefs.each do |u| %>

<p> <%= u.criterium.description %>
| <%= u.score %>
| <%= u.user.first_name %> </p>

<%= link_to "Edit my priority score for this preference", edit_user_preference_path(u)= %>

<%= link_to "Delete preference", u,  method: :delete, data: {confirm: "Are you sure?"} %>

<% end %>


