<h2> What features are important for you? </h2>


<b> Criteria | Importance (1-10) </b>

 <p> <% @user_prefs.sort_by do |u| %>


<p> <%= u.criterium.description %> | <%= u.score %>

<%= link_to "Edit", edit_user_preference_path(u) %>

<%= link_to "Delete", u,  method: :delete, data: {confirm: "Are you sure?"} %>
</p>
</p>

<% end %>

<%= link_to "Add a criterium", new_user_preference_path %>

</p>


