<%= form_for @new_user_pref do |f| %>

  <fieldset>
    <legend> What features are most important to you? </legend>
    <div align="center"><br>
      <% @criteria.each do |c| %>

      <input type="radio" name=<%=c.description%> value= <%= c.description%> > <%=c.description%> <br>
      <% end %>
      <%= f.submit value="Add your preference!" %>
    </div>
  </fieldset>

<% end %>