<!DOCTYPE html>
<html>
<head>
  <title>Hoadini</title>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
	  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<% if session[:user_id]%>
		<ul id='nav-menu'>
		  <li><a href="/users/<%= session[:user_id]%>">Home</a></li>
		  <li><a href="/user_preferences">Property Criteria</a></li>
		  <li><a href="/properties">Search</a></li>
		  <li><a href="/login">Not You?</a></li>
		  <li><a href="/logout">Logout</a></li>
		</ul>
	<% end %>


<%= yield %>


</body>
</html>
