<!DOCTYPE html>
<html>
<head>
  <title>Hoadini</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<% if session[:user_id]%>
		<ul id='nav-menu'>
		  <li><a href="#">Home</a></li>
		  <li><a href="#">News</a></li>
		  <li><a href="#">Contact</a></li>
		  <li><a href="#">About</a></li>
		</ul>

		<%= link_to "Edit my profile", edit_user_path, id: 'edit_prof' %>
	<% end %>


<%= yield %>


</body>
</html>
