<!DOCTYPE html>
<html>
<head>
  <title>Hoadini</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <!-- Latest compiled and minified CSS -->
</head>

<!-- 		this ends the first header bar for user nil
 -->	<body>
    <% if @user %>
    <header>
      <!-- navigation bar code -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/users/<%=@user.id%>">Hoadini</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/properties">Search Properties<span class="sr-only">(current)</span></a></li>
              <li><a href="/favorite_properties">My Favorites</a></li>
              <li><a href="/user_preferences">Neighborhood criteria</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li><form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search Property">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
              </form></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		</header>
	 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("bedroom_logo.png", :alt =>"bedroom logo") %>
          <div class="container">
            <div class="carousel-caption">
              <h1 class="lead">Hoadini</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="/properties">Search & Stay!</a>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag("bedroom_logo.png", :alt =>"bedroom logo") %>
          <div class="container">
            <div class="carousel-caption">
              <h1 class="lead">Another example headline.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="/properties">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag("bedroom_logo.png", :alt =>"bedroom logo") %>
          <div class="container">
            <div class="carousel-caption">
              <h1 class="lead">One more for good measure.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="/properties">Browse gallery</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div>
  <% end %>
</div>

        <%= yield %>

  </body>
</html>
