<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hoadini</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=geometry"></script>
    <!-- Latest compiled and minified CSS -->
</head>
  <body>

    <!-- Navigation -->
        <nav class="property-top-nav" role="navigation">
            <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="mini-tagline" href="/welcome">HOADINI</a> |
                <a class="mini-tagline" href="/users/<%=current_user.id%>">FAVORITES</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->

        </div>
    </nav>
        <%= yield %>
  </body>
</html>
